{# datastream and audit trail links for file objects #}
<ul class='extra horiz'>
  {% if obj.audit_trail %}
    <li><a href="{% url 'file:history' obj.pid %}">Event Log</a></li>
  {% endif %}

  {% if obj.mods.exists %}
    <li><a href="{% url 'file:raw-ds' obj.pid 'MODS' %}">MODS</a></li>
  {% endif %}
    <li><a href="{% url 'file:raw-ds' obj.pid 'DC' %}">DC</a></li>
    <li><a href="{% url 'file:raw-ds' obj.pid 'RELS-EXT' %}">RELS-EXT</a></li>
    <li><a href="{% url 'file:raw-ds' obj.pid 'Rights' %}">Rights</a></li>
  {% if obj.audit_trail %}
    <li><a href="{% url 'file:audit-trail' obj.pid %}">XML Audit Trail</a></li>
  {% endif %}
</ul>
