{% load search_tags %}
{# datastream and audit trail links for file objects #}
<div class="btn-group" role="group">
  {% if obj.audit_trail %}
    <button type="button" class="btn btn-default"><a href="{% url 'file:history' obj.pid %}">Event Log</a></button>
  {% endif %}
    <button type="button" class="btn btn-default"><a href="{% url 'file:raw-ds' obj.pid 'MODS' %}">MODS</a></button>
    <button type="button" class="btn btn-default"><a href="{% url 'file:raw-ds' obj.pid 'DC' %}">DC</a></button>
    <button type="button" class="btn btn-default"><a href="{% url 'file:raw-ds' obj.pid 'RELS-EXT' %}">RELS-EXT</a></button>
    <button type="button" class="btn btn-default"><a href="{% url 'file:raw-ds' obj.pid 'Rights' %}">Rights</a></button>

  {# premis: provide access to all versions #}
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="premis-versions" aria-haspopup="true" aria-expanded="false">PREMIS <span class="caret"></span></button>
      <ul class="dropdown-menu" aria-labelledby="premis-versions">
        <li class="dropdown-header">Versions</li>
        {% for version in obj.provenance.history.versions %}
          <li><a href="{% url 'file:raw-ds-version' obj.pid 'provenanceMetadata' version.created|date:'c' %}">{{ version.created }}</a></li>
        {% endfor %}
        {# <li role="separator" class="divider"></li> #}
        {# diffs tool todo #}
      </ul>
    </div>

  {% if obj.audit_trail %}
    <button type="button" class="btn btn-default"><a href="{% url 'file:audit-trail' obj.pid %}">XML Audit Trail</a></button>
  {% endif %}
</div>


{# display checksum and format of disk image #}
<p class="extra">{{ obj.provenance.content.object.format.name }} disk image ({{ obj.content.size|filesizeformat }}), checksum {{ obj.content.checksum }}</p>
{# display last modified date and user #}
<p class="extra">Last modified {{ obj.modified }}
  {% for entry in obj.audit_trail.records %}{% if forloop.last %}by {{ entry.user|username_to_name }}{% endif %}{% endfor %}</p>

{# supplemental files #}
{% if perms.file.manage_disk_image_supplements %}
<b style="float:left;padding-right:1em">Supplemental content:</b>
<ul class='list-inline'>
  {% for s in obj.supplemental_content %}
     <li><a href="{% url 'file:raw-ds' obj.pid s.id %}">{{ s.label }}</a></li>
  {% endfor %}
  <li><a href="{% url 'file:supplements' obj.pid %}">+ add/manage</a></li>
{% endif %}
</ul>
