{% extends 'repoadmin/snippets/list-item.html' %}
{% load humanize search_tags %}

{% block item_title %}
<p>
  {# other objects do not yet have a view url; all arrangement objects use the same edit url #}
  {% url 'file:edit' obj.pid as edit_url %}
  <a href="{{ edit_url }}">
    {# Show both title and label if they are different. Show '(no title)' if both are blank. #}
    {% firstof obj.title obj.label '(no title)' %}
    {% if obj.title and obj.title|slugify != obj.label|slugify %} {{ obj.label }}{% endif %}
    {% if obj.part %} ({{ obj.part }}){% endif %}</a>
  {% if obj.collection_id %}
    (part of
       {% if 'info:fedora' in obj.collection_id %}  {# convert to pid if id is in URI format #}
         {% url 'collection:view' obj.collection_id|slice:'12:' as collection_url %}
       {% else %}
          {% url 'collection:view' obj.collection_id as collection_url %}
       {% endif %}
      <a href="{{ collection_url }}">{% firstof obj.collection_label obj.collection_id %}</a>)
  {% endif %}

</p>
{% endblock %}

{% block item_info %}
  <ul class="list-inline">
    {% if obj.content_format %}<li>{{ obj.content_format }}</li>{% endif %}
    {% if obj.content_size %}<li>{{ obj.content_size|filesizeformat }}</li>{% endif %}
    {% if obj.access_copy_size %}{{ obj.access_copy_size|filesizeformat }}{% endif %}
    {# migrated objects: display alerts for migrated/original #}
    {% if obj.hasDerivation and 'info:fedora/' in obj.hasDerivation.0 %}{% with migrated_pid=obj.hasDerivation.0|slice:"12:" %}
    <li class="alert-danger">Migrated to
      <a href="{% url 'file:edit' migrated_pid  %}">{{ migrated_pid }}</a></li>
    {% endwith %}{% endif %}
    {% if obj.isDerivationOf and 'info:fedora/' in obj.isDerivationOf.0 %}{% with original_pid=obj.isDerivationOf.0|slice:"12:" %}
    <li class="alert-info">Migrated from
      <a href="{% url 'file:edit' original_pid  %}">{{ original_pid }}</a></li>
    {% endwith %}{% endif %}
    {% if obj.rights %}<li>{{ obj.rights.0|rights_abbreviation }}</li>{% endif %}
  </ul>
{% endblock %}
