<%= error_messages_for 'name' %>

<!--[form:name]-->
<p><label for="name_name">Name</label><br/>
<%= text_field 'name', 'name'  %></p>

<p><label for="name_authority">Authority</label><br/>
<%= select ('name', 'authority_id', Authority::getAuthorities) %></p>

<p><label for="name_part">Name Part</label><br/>
<%= select ('name', 'name_type', ['conference', 'corporate', 'personal']) %></p>

<!--[eoform:name]-->

