<%= error_messages_for 'role' %>

<!--[form:role]-->
<p><label for="role_title">Title</label><br/>
<%= text_field 'role', 'title'  %></p>

<p><label for="role_code">Code</label><br/>
<%= text_field 'role', 'code'  %></p>
<!--[eoform:role]-->

