<h1>New authority</h1>

<%= start_form_tag :action => 'authority_create' %>
  <%= render :partial => 'authority_form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'authority_list' %>
