<h1>Editing Authority</h1>

<%= start_form_tag :action => 'authority_update', :id => @authority %>
  <%= render :partial => 'authority_form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'authority_show', :id => @authority %> |
<%= link_to 'Back', :action => 'authority_list' %>
