<p/>
<%= link_to 'New Authority', :action => 'authority_new' %> <%= link_to 'Edit Authority', :action => 'authority_list' %>
<br/>
<%= link_to 'New Name', :action => 'name_new' %> <%= link_to 'Edit Name', :action => 'name_list' %>
<br/>
<%= link_to 'New Subject', :action => 'subject_new' %> <%= link_to 'Edit Subject', :action => 'subject_list' %>
<br/>
<%= link_to 'New Genre', :action => 'genre_new' %> <%= link_to 'Edit Genre', :action => 'genre_list' %>
<br/>
<%= link_to 'New Staff', :action => 'staff_new' %> <%= link_to 'Edit Staff', :action => 'staff_list' %>