<h1>New restriction</h1>

<%= start_form_tag :action => 'restriction_create' %>
  <%= render :partial => 'restriction_form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'restriction_list' %>
