{% extends 'search/snippets/list-item.html' %}

{% block item_title %}
<p><a href="{% url arrangement:edit obj.pid %}">
   {% if obj.arrangement_id %}{{obj.arrangement_id|default:''}} : {% endif %}
    {% comment %} Show both title and label if they are different.
    Show '(no title)' if both are blank {% endcomment %}
    {% if not obj.title and not obj.label %}
        (no title)
    {% else %}
        {% if obj.title != obj.label %}
            {{ obj.title }} {{ obj.label }}
            {% else %}
            {{ obj.title }}
        {% endif %}

    {% endif %}
    {% if obj.part %} ({{ obj.part }}){% endif %}</a>
  {% if obj.collection_id or obj.simpleCollection_id %}
    (part of 
     {% if obj.collection_id %}
      {# fallback to collection pid if label not found (should only happen in dev/test) #}
       <a href="{% url collection:edit obj.collection_id|slice:'12:' %}">{% firstof obj.collection_label obj.collection_id %}</a>{% endif %}{% if obj.collection_id and obj.simpleCollection_id %}; {% endif %}
     {% if obj.simpleCollection_label %}
       {{ obj.simpleCollection_label|join:"; " }}{% endif %})
  {% endif %} 
</p>
{% endblock %}

{% block item_info %} 
  <p>{{ obj.rights|join:', ' }}</p>
{% endblock %}
