{% extends 'search/snippets/list-item.html' %}
{% load humanize %}

{% block item_title %}
<p><a href="{% url audio:edit obj.pid %}">{{ obj.title|default:'(no title)' }}</a>
  {% if obj.part %} ({{ obj.part }}){% endif %}
  {% if obj.collection_id %} {{ obj.collection_id }}
    (part of <a href="{# {% url collection:edit obj.collection_id|slice:'12:' %} #}">{{ obj.collection_label }}</a>)
  {% endif %} </p>
{% endblock %}

{% block item_info %}  {# FIXME: use horizontal list for this ? #}
  <p> {{ obj.duration|intcomma }}s
  {% if obj.has_original %}
     <a href="{% url audio:download-audio obj.pid %}">original audio</a> 
  | 
  {% endif %}
  {% if obj.has_access_copy %}
    <a href="{% url audio:download-compressed-audio obj.pid 'mp3' %}">access copy</a>
    {% if obj.access_copy_size %}({{ obj.access_copy_size|filesizeformat }}){% endif %}
    {# TODO: mimetype icon ? #}
  |
  {% endif %}
  {{ obj.rights|join:', ' }}</p>
{% endblock %}
