<div id="label">Add/Edit Subject
<span id="close"><%= link_to_function "X", "Element.hide('edit_div')"%></span>
</div>
<%= hidden_field 'cs', 'content_id', :value => @cs.content_id %>
<%= text_field ('cs', 'fieldnames') %>
<%=	select ('cs', 'subject_id', Subject::getSubjects()) %>

