{% extends "page_base.html" %} 

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {
      // move to the first text form element for user convenience
      $('#login-form input[type="text"]').focus();
    });
  </script>
{% endblock %}

{% block content-title %}<span class="sr-only">Login</span>{% endblock %}

{% block content-body %}

{% if request.user.is_anonymous_researcher %}
<p class="bg-warning messages">This content is not accessible to researchers</p>
{% endif %}

{% if form.errors %}
<ul class="errorlist">
	<li>Your username and password didn't match. Please try again.</li>
</ul>
{% endif %}

<form id="login-form" class="login panel" method="post" action="{% url 'accounts:login' %}">{% csrf_token %}
<table class="table">
    {{ form.as_table }}
</table>
<div class="text-right">
  <button type="submit" class="btn btn-default btn-submit">Login</button>
</div>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
