keep.db
keep/localsettings.py
*.pyc
parser.out
parsetab.py
localsettings.py
build
dist

# unittest and coverage artifacts
.coverage
coverage.xml
nosetests.xml
changed_objects.csv
changed_objects2.csv
.noseids
keep/accounts/migrations/0004_auto_20160613_1112.py
thekeep.db
data.txt
tmp/
