keep.db
keep/localsettings.py
*.pyc
parser.out
parsetab.py
localsettings.py
build
dist
doc/_build

# unittest and coverage artifacts
.coverage
coverage.xml
nosetests.xml
.noseids
keep/accounts/migrations/0004_auto_20160613_1112.py
thekeep.db
tmp/
