<h1>New genre</h1>

<%= start_form_tag :action => 'genre_create' %>
  <%= render :partial => 'genre_form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'genre_list' %>
