{% extends "site_base.html" %}
{% load humanize %}

{% block page-subtitle %}: {{ archive.label }} : Collections{% endblock %}

{% block content %}
<div class="container">
<h1>{{ archive.label }} Collections</h1>

{# breadcrumb with archive/collection hierarchy #}
<ol class="breadcrumb">
    <li><a href="{% url 'collection:list-archives' %}">Archives</a></li>
    <li class="active">{{ archive.label }}</li>
</ol>

<p>{{ collections.paginator.count|intcomma }} collections{% if collections.has_other_pages and collections.object_list|length > 1 %}; displaying {{ collections.start_index|intcomma }} - {{ collections.end_index|intcomma }}{% endif %}
  {# if more than one item on this page, display range of results #}
</p>

{% for collection in collections.object_list %}
    <div>
        <h2><a href="{% url 'collection:view' collection.pid %}">
            {% if collection.source_id != 0 %}{{ collection.source_id }}: {% endif %}
                {{ collection.title|default:'(no title present)' }}</a>
                {% if collection.collection_dates %}
                  ({{ collection.collection_dates|join:', ' }})
                {% endif %}
            </h2>

        {# NOTE: would be nice to display number of items in the collection; probably not easy currently #}

        {# could display creator, but it seems redundant #}
        {# {% if collection.creator %}<p>{{ collection.creator|join:'; ' }}</p>{% endif %} #}
    </div>
{% endfor %}

{# due to the way regroup works, top-level collections with no collections will not be listed #}
{% with collections as results %}
{% include 'eultheme/snippets/pagination_all_pages.html' %}
{% endwith %}
</div>
{% endblock %}
