{% extends "site_base.html" %}

{% block page-subtitle %}: Collections : {% if collection %}Edit{% else %}Create{% endif %} {{ collection.pid|default:'' }}{% endblock %}
{% block content-title %}{% if collection %}Edit{% else %}Create{% endif %} Collection {{ collection.pid|default:'' }}{% endblock %}

{% block scripts %}
  {{ block.super }}
 <script type="text/javascript">
    $(document).ready(function() {
      // move to the first non-hidden form element for user convenience
       $('#collection-edit :input[type!="hidden"]:first').focus();       
    });
  </script>
{% endblock %}

{% block content-body %}
<p class='extra'>
  {% if collection %}
    {% if collection.ark %}
      This collection is <a href='{{collection.ark_access_uri}}'>{{collection.ark}}</a>.
    {% else %}
      This collection has no ARK. Its pid is {{collection.pid}}.
    {% endif %}
  {% else %}
    This is a new collection. Its ARK has not yet been assigned.
  {% endif %}
</p>
{% if collection.pid %} {# when editing existing objects, link to raw datastreams #}
    <ul class='extra horiz'>
      {% if collection.audit_trail %}
        <li><a href="{% url collection:history collection.pid %}">Event Log</a></li>
      {% endif %}
        <li><a href="{% url collection:raw-ds collection.pid 'MODS' %}">MODS</a></li>
        <li><a href="{% url collection:raw-ds collection.pid 'DC' %}">DC</a></li>
        <li><a href="{% url collection:raw-ds collection.pid 'RELS-EXT' %}">RELS-EXT</a></li>
      {% if collection.audit_trail %}
        <li><a href="{% url collection:audit-trail collection.pid %}">XML Audit Trail</a></li>
      {% endif %}
    </ul>
{% endif %}
<div class="instructions">
    <h2>Instructions for using this form</h2>
    <ul>
        <li><span class="required" title='required'>*</span> indicates a field is required.</li>
        <li>For repeating grouped fields (such as name parts and roles), one extra
            empty set of fields should always be available.  If you leave all fields
            in a name part or role empty, no additional name or role will be added.  If
            you need more than one additional role or name, save and continue editing,
            and a new  empty name part or role should be available.</li>
    </ul>
</div>

<form id="collection-edit" method="post" name="edit_form">{% csrf_token %}
{% if form.non_field_errors %}
    {{ form.non_field_errors }}
{% endif %}
<table class="edit-form">
  {% for field in form  %}
      {% if field.label != 'Comment' %}
          {% include 'snippets/form_field_tr.html' %}
      {% endif %}
  {% endfor %}

        <tr id="creator">
          <th>Creator</th>
          <td class="multi-field">
              {% with form.subforms.name as name %}
               {% include 'snippets/edit_mods_name.html' %}
             {% endwith %} {# name subform as name #}
              </td>
        </tr>

    <tr>

        <th>Restrictions on Access
        {% if form.subforms.restrictions_on_access.field.required %}
                          <span class="required" title='required'>*</span>{% endif %}</th>
        <td>{{ form.subforms.restrictions_on_access.as_p }}</td>
    </tr>
    <tr>
        <th>Use and Reproduction
            {% if form.subforms.use_and_reproduction.text.field.required %}
                          <span class="required" title='required'>*</span>{% endif %}</th>
        <td>
            {{ form.subforms.use_and_reproduction.as_p }}</td>
    </tr>

    {% with form.comment as field %}
      {% include 'snippets/form_field_tr.html' %}
    {% endwith %}
</table>

<input class="form-submit" type="submit" name="_save" value="Save"/>
<input class="form-submit" type="submit" name="_save_continue" value="Save and continue editing"/>
</form>
{% endblock %}
