{% extends "site_base.html" %}
{% load static %}{% load humanize %} {% load search_tags %} {% load audio_extras %}

{% block page-subtitle %}: Collections : {{ collection.title }}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'style/jplayer-skin/jplayer.blue.monday.css' %}" />
  <style type="text/css">
  {# temporary placeholder styles for playlist #}
  {# FIXME: demo site skin styles playlist fine, but doesn't seem to work here ?? #}
  .jp-playlist-item-remove { float: right; }
  .jp-playlist ul { max-height: 150px; overflow: scroll; }
  div.jp-playlist li[.jp-playlist-current] { background-origin: white; }
  </style>
{% endblock %}

{% comment %} {# disabling jplayer with playlist for now #}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.jplayer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jplayer.playlist.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      var myPlaylist = new jPlayerPlaylist({
        jPlayer: "#jquery_jplayer_1",
        cssSelectorAncestor: "#jp_container_1"
      }, [],  // start with empty playlist, then set via json
      {
        playlistOptions: {
          enableRemoveControls: false
        },
      swfPath: "{% static 'js/' %}",
      supplied: "mp3, m4a",
      smoothPlayBar: true,
      keyEnabled: true,
      audioFullScreen: true, // Allows the audio poster to go full screen via keyboard
      debug: true
      });

$.getJSON("{% url 'collection:playlist' collection.pid %}", function(data) {
  for (var i = 0; i < data.length; i ++) {
     myPlaylist.add(data[i]);
  }
});

}); // end ready

  </script>

{% endblock %}
{% endcomment %}

{% block content %}
<article>
  {% comment %}
    <header>
        <div class="container">
            <h3>{{ collection.mods.content.source_id|default:'' }}: {% firstof collection.mods.content.title collection.label %}</h3>

            {% if perms.collection.change_collection %}
            <div class="pull-right">
                <a class="pull-right btn btn-primary" href="{% url 'collection:edit' collection.pid %}">edit <span class="glyphicon glyphicon-edit"></span></a>
            </div>
            {% endif %}

            {# breadcrumb with archive/collection hierarchy #}
            <ol class="breadcrumb">
                <li><a href="{% url 'collection:list-archives' %}">Libraries</a></li>
                {% with archive=collection.collection %}
                  <li><a href="{% url 'collection:browse-archive' archive=archive.mods.content.short_name|lower %}">{{ archive.label }}</a></li>
                {% endwith %}
                <li class="active">{% firstof collection.mods.content.title collection.label %}</li>
            </ol>

        </div>
    </header>
    {% endcomment %}
    <header>
      <div class="page-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <h1>
                  {% if collection.mods.content.source_id != 0 %}{{ collection.mods.content.source_id }}: {% endif %}
                  {% firstof collection.mods.content.title collection.label %}{% if perms.collection.change_collection %}
                      <a class="btn btn-edit btn-sm" href="{% url 'collection:edit' collection.pid %}">edit <span class="glyphicon glyphicon-edit"></span></a>
                {% endif %}
                </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="page-breadcrumbs">
        <div class="container">
            <div class="row">
                {# breadcrumb with archive/collection hierarchy #}
                <ol class="breadcrumb">
                  <li><a href="{% url 'collection:list-archives' %}">Libraries</a></li>
                  {% with archive=collection.collection %}
                    <li><a href="{% url 'collection:browse-archive' archive=archive.mods.content.short_name|lower %}">{{ archive.label }}</a></li>
                  {% endwith %}
                  <li class="active">{% firstof collection.mods.content.title collection.label %}</li>
                </ol>
            </div>
        </div>
      </div>
    </header>
    {% comment %} {# jplayer playlist disabled for now #}
    <div class="container">
      {# jplayer audio player controls #}
      {% include 'audio/snippets/audio_player.html' with playlist=1 %}
    </div>
    {% endcomment %}

    <div class="container">
        {# TODO: collection metadata here ? #}

        {# suppress collection ARK for now #}
        {% comment %}
        {% if collection.mods.content.ark_uri %}
        <p>Permanent URL:
          <a href="{{ collection.mods.content.ark_uri }}" rel="bookmark">{{ collection.mods.content.ark_uri }}</a></p>
        {% endif %}
        {% endcomment %}

    {% if items.paginator.count %}
    <h2 class="section-heading">{{ items.paginator.count|intcomma }} item{{ items.paginator.count|pluralize }} in this collection</h2>
    <p class="lead">
        {% if items.has_other_pages and items.object_list|length > 1 %}
        displaying {{ items.start_index|intcomma }} - {{ items.end_index|intcomma }}{% endif %}
        {# if more than one item on this page, display range of results #}
    </p>
    {% else %}
    <h2 id="no-results-found">No items in this collection.</h2>
    {% endif %}

    <ul class="media-list archive-list">
      {% for obj in items.object_list %}
      {% with obj|edit_url as edit_url %}
      <li class="media {% if edit_url %}with-edit{% endif %}">

        {% with view_url=obj|view_url %}
          <a {% if view_url %}href="{{ view_url }}"{% else %} href="#" class="disabled"{% endif %}>
              <div class="media-body-link-to">

                {# TODO: copied from repoadmin, convert to snippet? or revise for researcher use? #}
                  {% if obj.object_type  == 'collection' %}
                  <span class="glyphicon glyphicon-folder-open"></span>
                  {% elif obj.object_type  == 'audio' %}
                  <span class="glyphicon glyphicon-headphones"></span>
                  {% elif 'info:fedora/emory-control:Rushdie-MailboxEntry-1.0' in obj.content_model or 'info:fedora/emory-control:Rushdie-CerpMailbox-1.0' in obj.content_model %}
                  <span class="glyphicon glyphicon-envelope"></span>
                  {% elif 'info:fedora/emory-control:DiskImage-1.0' in obj.content_model %}
                  <span class="glyphicon glyphicon-hdd"></span>
                  {% else %}
                  <span class="glyphicon glyphicon-file"></span>
                  {% endif %}

              </div>
              <div class="media-body">
                  {% if not obj.researcher_access %}
                    <section class="access">
                      <ul class="list-inline">
                        <li class="no-researcher small"><span class="glyphicon glyphicon-ban-circle"></span> Not accessible to researchers</li>
                      </ul>
                    </section>
                  {% endif %}
                  <h2 class="media-heading">
                      {% firstof obj.title obj.label "(no title)" %}
                  </h2>
                  <section class="media-info">
                      <p class="lead">
                        {% if obj.date_created %}{{ obj.date_created|natural_date }}{% if date_issued %}; {% endif %}{% endif %}
                        {% if obj.date_issued %}{{ obj.date_issued|natural_date }}{% endif %}
                        {% if obj.duration %}<span class="small">({{ obj.duration|natural_seconds }})</span>{% endif %}
                      </p>
                  </section>
              </div>
          </a>
        {% endwith %}

        {# generate appropriate edit link if user has permission #}
        {# check permissions based on type of object #}
        {% if edit_url %}
          {% if obj.object_type == 'audio' and perms.audio.change_audio %}
          <a class="aux-action"  href="{{ edit_url }}" title="Edit">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          {% endif %} {# audio edit #}
          {% if obj.object_type == 'born-digital' %}
            {% if 'info:fedora/emory-control:DiskImage-1.0' in obj.content_model and perms.file.change_disk_image %}
            <a class="aux-action"  href="{{ edit_url }}" title="Edit">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            {% elif perms.arrangement.change_arrangement %}
            <a class="aux-action"  href="{{ edit_url }}" title="Edit">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            {% endif %}
          {% endif %} {# born digital edit #}

        {% endif %}  {# edit url #}
      </li>

      {% endwith %} {# edit_url #}
      {% endfor %}
    </ul>

    {% if items.has_other_pages %}
      {% include 'eultheme/snippets/pagination_all_pages.html' with results=items %}
    {% endif %}
</div>
</article>

{% endblock %}

