function load_accessrights_table()
{
	document.getElementById('edit_div').style.display = 'none';	
	document.getElementById('access_rights').innerHTML = "<%= escape_javascript(render :partial => 'content_accessrights', :locals => {:content => @content, :rights => @ar }) %>";
}
load_accessrights_table();
