<%= error_messages_for 'restriction' %>

<!--[form:restriction]-->
<p><label for="restriction_description">Description</label><br/>
<%= text_field 'restriction', 'description'  %></p>
<!--[eoform:restriction]-->

