{% load humanize %}
<div>
  {% if 'MODS' in obj.dsids %} {# collection 1.1 #}
    {% url collection:edit obj.pid as edit_url %}
  {% else %} {# collection 1.0 AKA "Simple" collection #}
   {% url collection:simple_edit obj.pid as edit_url %}
  {% endif %}
  <p>
    <a href="{{ edit_url }}">{{ obj.title|default:'(no title)' }}</a>
    {% if obj.source_id %}Collection No. {{ obj.source_id }}{% endif %} 
    {{ obj.archive_short_name }}
  </p>
  {% if obj.creator %} <p>{{ obj.creator|join:'; ' }}</p>{% endif %}
  {# display number of items for "simple" collections #}
  {% if obj.hasMember %}
    <p>{{ obj.hasMember|length }} item{{ obj.hasMember|pluralize }}</p>
  {% endif %}

  <p>Created {{ obj.created|naturalday }}{% if obj.uploaded_by %} by {{ obj.uploaded_by }}{% endif %}; 
     last modified {{ obj.last_modified|naturalday }}.</p>
</div>