{% extends 'repoadmin/snippets/list-item.html' %}

{% block item_title %}
  {% if 'info:fedora/emory-control:Collection-1.0' in obj.content_model %} {# collection 1.0 AKA "Simple" collection #}
    {% url 'collection:simple_edit' obj.pid as edit_url %}
  {% else %}
   {% url 'collection:edit' obj.pid as edit_url %} {# collection 1.1 #}
  {% endif %}
  <p>
    <a href="{{ edit_url }}">{{ obj.title|default:'(no title)' }}</a>
    {% if obj.source_id %}Collection No. {{ obj.source_id }}{% endif %}
    {{ obj.archive_short_name }}
  </p>
{% endblock %}

{% block item_info %}
  {# display number of items for "simple" collections #}
  {% if 'info:fedora/emory-control:Collection-1.0' in obj.content_model %} {# collection 1.0 AKA "Simple" collection #}
    {% if obj.hasMember %}
      <p>{{ obj.hasMember|length }} item{{ obj.hasMember|pluralize }}</p>
    {% endif %}
  {% else %}
    <ul class="list-inline">
    {% if obj.creator %}<li>{{ obj.creator|join:'; ' }}</li>{% endif %}
     <li><a href="{% url 'repo-admin:search' %}?collection={{ obj.label }}">find items in this collection</a></li>
    </ul>
  {% endif %}

{% endblock %}
