<h1>New subject</h1>

<%= start_form_tag :action => 'subject_create' %>
  <%= render :partial => 'subject_form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'subject_list' %>
