body
{
	background: #CC9966;
	font-family: arial;
}

table
{
	border-collapse:collapse;
	align: left;	
}

th
{
	vertical-align: bottom;
	text-align: left;
	font-size: 75%;
	font-family: arial;
	color: #0c42ae;
}

td
{
	vertical-align: top;
	line-height: 90%
}

label
{
	color: #0c42ae;
	font-weight: bold;
	font-size: 80%;
}

.border_top td
{
	border-top: 2px solid #CCCCCC;
}

div#access_rights,
div#names,
div#subjects,
div#genres,
div#still_img_subform,
div#src_sound_subform
{
	background: white;
	padding: 5px;
}

td.row_label
{
	width: 15%;
	font-family: arial;
	font-size: 60%;
	font-weight: bold;
}

div.row_label
{
	font-family: arial;
	font-size: 70%;
	font-weight: bold;
}

table.list td
{
	padding-bottom: 10px;
}

td.collection
{
	background: #CCCC99;
	padding: 5px;
}

div.inline div
{
	display: inline;
	align: center;
}


td.completed a
{
	font-weight: 30%;
	color: green;
}

tr.border td
{
    border-style: groove;
    border-width: 1px;
}


a,
a:link,
a:visited,
a:active
{
	color: black;
}

a:hover { color: white; }