table#mods_edit table.subform {
  margin-left: 10px;  
 /* border-left: 1px solid #cccccc;*/
}
table#mods_edit table.subform th {
    padding-left: 5px;
}
.edit-form th {
   width:125px;
   vertical-align: top;
}
table.name-role-auth th {
    width: inherit;
}

#audio-edit .section-head {
    background-color:#efefef;
    border-bottom:3px double black;
    padding-left: 8px;
    padding-bottom: 5px;
}
.edit-form td, .edit-form table {
    border: none;   /* suppress inherited borders */
}
#audio-edit .toggle {
    background-image: url('../genlib_media/style/images/menu-expanded.png');
    background-position: 99% 50%;    /* nearly right edge */
    background-repeat: no-repeat;
    padding: 5px;
}
#audio-edit .collapsed {
    background-image: url('../genlib_media/style/images/menu-collapsed.png');
}
.required {
    font-weight: bold;
    color: red;
}
tr.required {
    font-weight: normal;
    /* could add another visual indicator here */
}

.instructions {
    border: 2px solid #D9D9D9;
    padding: 5px;
    margin:5px 0px;
    font-size:90%;
    background-color:#ffd;
}
.instructions h2 {
    padding: 0px;
    margin: 0px;
    font-size:105%;
}
#content .instructions li {
    background: none;
    padding: 0px;
    margin-left: 10px;
}

.edit-form td.required {
  font-weight: bold;
  color: red;
  padding-right: 7px; /* overrides the default 7 20 7 0 */
}

.edit-form .help-text, form#upload .help-text {
    display:inline; /* keep on same line as input if the whole text fits */
    white-space:nowrap;
    color: gray;
    font-weight: normal;
}
.edit-form .help-text.warning {
    color: red;
    font-weight: bold;
}
.edit-form select {
    min-width: 15em; /* close to default text input length in Firefox */
    /* NOTE: setting text input default length messes up YYYY-MM-DD text inputs */
}

textarea, input.long, select.long {
    width:85%;
}
input.readonly {
    border:0px;
}

#origin_info div.subform p.label {
    width: 5em;
    font-weight:bold;
    float:left;
    clear:left;
}

.extra {
  color: gray;
}

.dslist {
  margin: 2px;
}

div#sidebar-left-inner > div {
    border: 1px solid #D9D9D9;
    background-color: #f2f3f5;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 90%;
}
div#sidebar-left div.search input {
    margin: 0px;
}
div#sidebar-left div.search p {
    margin: 0px;
}
div#sidebar-left div.search label {
    display: block;
}
div#sidebar-left div.search select {
    width: 95%;
}

div#sidebar-left .note {
  background-color: #FFFB64;
}
div#sidebar-left .note h2 {
  color: black;
  border-bottom: 3px double black;
}


/* form buttons styled to look sort of like form-submit */
input.form-button {
    background-color:#02266D;
    border:1px solid #002878;
    color:#E6EDF2;
    cursor:pointer;
    font:0.833333em/1em "Trebuchet MS",Arial,Helvetica,sans-serif;
    height:20px;
    padding:3px 10px;
    text-transform:uppercase;
}
input.form-button:hover {
    background-color:#B98B02;
    border-color:#997300;
    color:#FFFFFF
}

.sw-version {
    text-align: right
}
.dev-note {
    color: #999
}

div.help {
    float:left;
    background-color:white !important;
    border:2px solid green !important;
    margin:0px;
    padding:3px;
    font-size:medium;
}

div.help > a {
    display:block;
    margin:0px;
    font-size:large;
    font-weight:bold;
}
.search-tips {
    position:absolute;
    margin-left:5px;
    width:250px;
    padding: 5px;
    border:1px solid #cc9933;
    background-color:#ffffcc;
    display:none;
}

div#logged-in {
    float:right;
}
div#logged-in a {
    font-weight: bold;
}
img#keep-logo {
    float:left;
    padding-right:5px;
}

.column {
    float: left;
    padding: 0px 2px;
}
.delete-col {
    width: 4em;
}
.textinput-col {
    width: 68%;
}
.dropdown-col {
    width:11.5em;
}
#name-part select, #name-role select {
    min-width: 11em;
}

div.subform {
    padding: 5px 0px;
}

.subform > label {
    font-size: 15px;
    display: block;
    margin: 8px 0px 3px;
    padding-bottom: 2px;
    border-bottom: 2px solid #efefef;
}
td.multi-field label {
    display:block;
}

/* style for error/sucess messages (!important required to counteract #content ul li styles */
ul.messages {
    list-style-type: none;
    border: 1px solid #D9D9D9;
    background-color: #F2F3F5;
    margin-bottom: 10px !important;
}
ul.messages li {
    background: none !important;
    /*padding-left: 10px !important;*/
    padding: 5px 0px !important;
    margin-left: 25px !important;
    font-weight: bold;
}
.messages .success {
    list-style-image: url('../images/check.png');
    color: green;
}
.messages .error {
    list-style-image: url('../images/x.png');
    color: red;
}
/* NOTE: could use this selector to highlight form sections with errors
.edit-form .error {}    */

/* Styles for the arrangement edit. */
#arrangement-edit .section-head {
    background-color:#efefef;
    border-bottom:3px double black;
    padding-left: 8px;
    padding-bottom: 5px;
}

#arrangement-edit .toggle {
    background-image: url('../genlib_media/style/images/menu-expanded.png');
    background-position: 99% 50%;    /* nearly right edge */
    background-repeat: no-repeat;
    padding: 5px;
}
#arrangement-edit .collapsed {
    background-image: url('../genlib_media/style/images/menu-collapsed.png');
}

#advanced-search input[type=text] {
   width: 90%;
}
#advanced-search select {
   width: 75%;
}

.search-results {
    overflow-x: auto;
}

a.tip {
  background-image: url('../images/icon-question.png');
  width: 13px;
  height: 13px;
  display: inline-block;
}

#keyword-search {
  width: 70%;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 8px;
}
#keyword-search > * {
  display: inline-block;
}
#keyword-search form {
  width: 80%;
}
#keyword-search input {
  vertical-align: middle;
}
#keyword-search input[type=text] {
  font-size: 1.5em;
  width: 85%;
}
#keyword-search .tip {
  margin-left: 5px;
  color: transparent;
}
.tooltip {
    padding: 5px;
    border:1px solid #cc9933;
    background-color:#ffffcc;
    text-align: left;
    width: 55%;
}

.tooltip li {
    list-style-type: disc;
    margin-left: 15px;
}
ul.ui-autocomplete {
    text-align: left;
}
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}
.ui-autocomplete li span {
  font-size: 85%;
  font-weight: italic;
  float: right;
  margin-left: 5px;
}

a.remove {
  background: url('../images/icon-close.png') no-repeat transparent;
  background-position: right center;
  padding-right: 16px;
}
a.remove:link, a.remove:active, a.remove:visited {
  color: #4c4c4c;
  text-decoration: underline;
}

form#upload {
  margin: 10px 0px;
}

form#upload > div {
  margin: 5px 0px;
}

form#upload a.remove {
  background: none;
}

#content ul.horiz  {
  margin: 0px;
  padding: 0px;
}
#content ul.horiz li {
  display: inline-block;
  background: none;
  list-style-type: none;
  margin: 0px;
  margin-right: 1px;
  padding: 0px 5px;
  border-right: 1px solid gray;
}
#content ul.horiz li:last-child {
  border-right: 0px;
}
#content ul.horiz li:first-child {
  padding-left: 0px;
}