<h1>Editing restriction</h1>

<%= start_form_tag :action => 'restriction_update', :id => @restriction %>
  <%= render :partial => 'restriction_form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'restriction_show', :id => @restriction %> |
<%= link_to 'Back', :action => 'restriction_list' %>
