{% extends "site_base.html" %}
{% load search_utils %}

{% block page-subtitle %}: Arrangment : {{ title }}
{% if title != label %}{{ label }}{% endif %}{% endblock %}

{% block style %}
    {{ block.super }}
   <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style/search.css" />
{% endblock %}

{% block content-body %}
{{ block.super }}
    <h1>{{ title }}{% if title != label %}{{ label }}{% endif %}</h1>

    <p><a href="{% url arrangement:edit pid %}">Edit mailbox</a> (assign series and rights information)</p>

    <p>Messages in this folder:</p>
    {% for obj in page.object_list %}
        <div class="search-result email">
            {% include 'arrangement/snippets/list-arrangement.html' %}
        </div>
    {% endfor %}

{% pagination_links page show_pages search_opts %}

{% endblock %}