{% extends "page_base.html" %}
{% load search_utils %}

{% block page-subtitle %}: Arrangment : {{ obj.title }}
{% if obj.title != obj.label %}{{ obj.label }}{% endif %}{% endblock %}

{% block style %}
    {{ block.super }}
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style/search.css" />
{% endblock %}

{% block content-body %}
{{ block.super }}
    <h1>{{ obj.title }}{% if obj.title != obj.label %} {{ obj.label }}{% endif %}</h1>

    <p>Messages in this folder:</p>
    {% for obj in page.object_list %}
        <div class="search-result email">
            {% include 'arrangement/snippets/list-arrangement.html' %}
        </div>
    {% endfor %}

{% pagination_links page show_pages search_opts %}

{% endblock %}