{% extends "site_base.html" %}
{% load search_utils %}

{% block page-subtitle %}: Arrangment : View {{ title }} {{ label }}{% endblock %}

{% block style %}
    {{ block.super }}
   <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style/search.css" />
{% endblock %}

{% block content-body %}
{{ block.super }}
    <h1>{{ title }} {{ label }}</h1>

    {% for obj in page.object_list %}
        <div class="search-result email">
            {% include 'arrangement/snippets/list-arrangement.html' %}
        </div>
    {% endfor %}

{% pagination_links page show_pages search_opts %}

{% endblock %}