function load_accessrights_table()
{
	document.getElementById('edit_div').style.display = 'none';	
	document.getElementById('accessrights').innerHTML = "<%= escape_javascript(render :partial => 'content_accessrights', :locals => {:content => @content}) %>";
}
load_accessrights_table();
