<%= error_messages_for 'access_rights' %>

<!--[form:access_rights]-->
<p><label for="access_rights_restriction_other">Restriction other</label><br/>
<%= text_field 'access_rights', 'restriction_other'  %></p>

<p><label for="access_rights_copyright_date">Copyright date</label><br/>
<%= text_field 'access_rights', 'copyright_date'  %></p>
<!--[eoform:access_rights]-->

