<div id="label">Add/Edit Genre
<span id="close"><%= link_to_function "X", "Element.hide('edit_div')"%></span>
</div>
<%= error_messages_for 'contents_genres' %>
<%= hidden_field 'cg', 'content_id', :value => @cg.content_id %>
<%= text_field ('cg', 'fieldnames') %>
<%=	select ('cg', 'genre_id', Genre::getGenres()) %>

