<div id="label">Add/Edit Name
<span id="close"><%= link_to_function "X", "Element.hide('edit_div')"%></span>
</div>
<%= hidden_field 'nc', 'content_id', :value => @nc.content_id %>
<table>
    <tr><th>Name</th><th>Role</th></tr>
    <tr>
        <td><%=	select ('nc', 'name_id', Name::getNames()) %></td>
        <td><%=	select ('nc', 'role_id', Role::getRoles()) %></td>
    </tr>
</table>

