function load_still_images()
{
	document.getElementById('edit_div').style.display = 'none';	
	document.getElementById('src_sound_subform').innerHTML = "<%= escape_javascript(render :partial => 'src_sound_show', :locals => {:content => @content}) %>";
}
load_still_images();