<%= link_to_remote 'Add Digital Copy', :complete => 'eval(request.responseText)', :url => {:action => 'addTechSound', :src_sound_id => sound.id} %><br />
<% for tech_sound in sound.TechSounds %>
	<%= link_to_remote 'Edit Digital Copy', :complete => 'eval(request.responseText)', :url => {:action => 'editTechSound', :id => tech_sound.id} %>
	<%= tech_sound.format_name %> <%= tech_sound.byte_order %> <%= tech_sound.sound_note %>	
	<br />
<% end %>	