<%= link_to_remote 'Add Digital Copy', :complete => 'eval(request.responseText)', :url => {:action => 'addTechImage', :src_still_image_id => image.id} %><br />
<% for tech_image in image.TechImages %>
	<%= link_to_remote 'Edit Digital Copy', :complete => 'eval(request.responseText)', :url => {:action => 'editTechImage', :id => tech_image.id} %>
    <%= link_to_remote 'Remove', :complete => 'eval(request.responseText)', :url => {:action => 'destroyTechImage', :id => tech_image.id, :content_id => @content.id}, :confirm => 'Are you sure?' %>&nbsp;		  
    
    
	<%= tech_image.format_name_version %> <%= tech_image.pPixel_res %> <%= tech_image.image_note %>	
	<br />
<% end %>	