{% comment %}
Display a form field with help text as javascript tool-tip style pop-up
Expects form field object as a template variable named 'field' and form object
as a template variable named 'form', with aprefix defined for unique field id names.
{% endcomment %}
{% load widget_tweaks %}
<p class="fieldWrapper">
  {{ field.errors }} {{ field.label_tag }}
  {% if field.help_text %} {# show help test as a pop-up/tooltip #}
     {% render_field field data-toggle="tooltip" data-placement="right" title=field.help_text class+="with-tooltip form-control" %}
  {% else %}
      {{ field|add_class:"form-control" }}
  {% endif %}
</p>