{% comment %} Display search terms for a search results page.
 Expects a dictionary search_info with field names and value or collection dictionary
 and/or a list search_terms with a list of keyword terms or phrases.
{% endcomment %}
{% if search_info or search_terms %}
  <p>Results for  
    {% for term in search_terms %}
      <b>{{ term }}</b>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% if search_terms and search_info %}, {% endif %}
    {% if search_info.iterlists %} {# handle multivaluedict #}
        {% for field, listval in search_info.iterlists %}
          {{ field }}:  
          {% for v in listval %}
            <b>{{ v }}</b>{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.last %}; {% endif %}
        {% endfor %}
    {% else %} {# regular dict #}
    {% for field, val in search_info.iteritems %}
      {{ field }}: 
      {# link to regular collections, but not to top-level collections/owning repos #}
      <b>{% if val.pid and val.collection_id %} <a href="{% url collection:edit val.pid %}">{{ val.title }}</a>        
        {% else %}{# display title of a collection dict, string-only (NOT title-cased) otherwise #}
            {% if val.pid %}{{ val.title }}{% else %}{{ val }}{% endif %}
        {% endif %}</b>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% endif %}


    {# display any filters currently in effect #}
    {% if active_filters %} 
      {% for filter, urlopt in active_filters %}
        <a class="remove" href="?{{ urlopt }}">{{ filter }}</a>
      {% endfor %}
    {% endif %}

  </p>
{% endif %}