{% extends "site_base.html" %}

{% block page-subtitle %}: Audio : Edit {{ obj.label }}{% endblock %}
{% block content-title %}Edit Audio File{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {
      // move to the first form element for user convenience
      document.edit_form.elements[1].focus();

      // make .toggle headers hide/show the following section
      $(".toggle").click(function () {
        var header = $(this);
        header.toggleClass('collapsed');
        header.next().toggle();
      });
    });
  </script>
{% endblock %}

{% block content-body %}
{{ block.super }}
<h2>{{ obj.label }}</h2>
<p class='extra'>
  <a href="{% url audio:download-audio obj.pid %}">original audio</a>
  {% if obj.compressed_audio.exists %}
     | <a href="{% url audio:download-compressed-audio obj.pid %}">access copy</a>
  {% else %}
     | access copy
  {% endif %}
  | <a href="{% url audio:raw-ds obj.pid 'MODS' %}">MODS</a>
  | <a href="{% url audio:raw-ds obj.pid 'DC' %}">DC</a>
  | <a href="{% url audio:raw-ds obj.pid 'RELS-EXT' %}">RELS-EXT</a>
  | <a href="{% url audio:raw-ds obj.pid 'SourceTech' %}">SourceTech</a>
  | <a href="{% url audio:raw-ds obj.pid 'DigitalTech' %}">DigitalTech</a>
</p>
{% with obj.conversion_result as conversion %}
  {% if conversion %}
  <p class="extra">
    Access copy conversion requested at {{ conversion.created }};
    {% if conversion.task_end %}
       completed {{ obj.conversion_result.task_end|timesince }} ago,
       took {{ obj.conversion_result.duration }}.
    {% endif %}
    {{ conversion.task.status }} {{ conversion.task.result|default:'' }}
  </p>
  {% endif %}
{% endwith %}


<div class="instructions">
    <h2>Instructions for using this form</h2>
    <ul>
        <li><span class="required" title='required'>*</span> indicates a field is required.</li>
    </ul>
    {# NOTE: some overlap with collection edit form instructions #}
</div>
<div id="audio-edit">
<form method="post" name="edit_form">{% csrf_token %}

<h3 id="mods-label" class="section-head toggle open">Descriptive Metadata</h3>
<div id="mods">
    {% if form.mods.non_field_errors %}
    {{ form.mods.non_field_errors }}
    {% endif %}
<table class="edit-form">
  {% if form.mods.non_field_errors %}
    <tr><td colspan="3">{{ form.non_field_errors }}</td></tr>
  {% endif %}
  {% for field in form %}{% include 'snippets/form_field_tr.html' %}{% endfor %}
  {% if form.mods.non_field_errors %}
    <tr><td colspan="3">{{ form.mods.non_field_errors }}</td></tr>
  {% endif %}
  {% for field in form.mods %}{% include 'snippets/form_field_tr.html' %}{% endfor %}
  {% comment %} TODO/FIXME: something like this should work, but need a way to get subform labels
   {% for name, subform in form.mods.subforms.items %}
    <tr>
       <th>{{ subform.label }}{{ name }}</th>
       <td>{{ subform.as_p }}</td>
    </tr>
  {% endfor %}
  {% endcomment %}
  <tr id="origin_info">
      <th>Origin Info</th>
      <td>{{ form.mods.subforms.origin_info.as_p }}</td>
    </tr>
    <tr>
      <th>General Note
           {% if form.mods.subforms.general_note.text.field.required %}
              <span class="required" title='required'>*</span>{% endif %}
      </th>
      <td>{{ form.mods.subforms.general_note.as_p }}</td>
    </tr>
    <tr>
      <th>Part Note {% if form.mods.subforms.part_note.text.field.required %}
              <span class="required" title='required'>*</span>{% endif %}</th>
      <td>{{ form.mods.subforms.part_note.as_p }}</td>
    </tr>
</table>
</div>

<h3 id="source-tech-label" class="section-head toggle">Source Technical Metadata</h3>
<div id="source-tech">
    {{ form.sourcetech.non_field_errors }}
    <table class="edit-form">
        {% for field in form.sourcetech %}{% include 'snippets/form_field_tr.html' %}{% endfor %}
    </table>
</div>

<h3 id="digital-tech-label" class="section-head toggle">Digital Technical Metadata</h3>
<div id="digital-tech">
    {{ form.digitaltech.non_field_errors }}
    <table class="edit-form">
        {% for field in form.digitaltech %}{% include 'snippets/form_field_tr.html' %}{% endfor %}
    </table>
</div>

<h3 id="rights-label" class="section-head toggle">Rights Metadata</h3>
<div id="rights">
    {{ form.rights.non_field_errors }}
    <table class="edit-form">
        {% for field in form.rights %}{% include 'snippets/form_field_tr.html' %}{% endfor %}
    </table>
</div>

<input class="form-submit" type="submit" name="_save" value="Save"/>
<input class="form-submit" type="submit" name="_save_continue" value="Save and continue editing"/>
</form>
</div>
{% endblock %}
