{% extends "site_base.html" %}

{% block content-title %}Welcome to the Keep.{% endblock %}

{% block content-body %}
<p><a href="{% url audio:upload %}">upload an audio file</a></p>
<p><a href="{% url collection:new %}">create a new collection</a></p>
<p><a href="{% url tasks:recent %}">status of recent audio conversions</a></p>
<p><a href="{% url audio:feed-list %}">iTunes podcast feeds</a></p>

<p>View recently uploaded items:
  <a href="{% url audio:search %}?audio-date={{ today|date:"Y-m-d" }}">today</a>
  | <a href="{% url audio:search %}?audio-date={{ yesterday|date:"Y-m-d" }}">yesterday</a>
  |  <a href="{% url audio:search %}?audio-date={{ today|date:"Y-m*" }}">this month</a>

<hr/>

{% endblock %}