{% extends "site_base.html" %}

{% block page-subtitle %}: Audio : Upload{% endblock %}
{% block content-title %}Upload audio files.{% endblock %}

{% block scripts %}
  {{ block.super }} {# includes jquery  #}
  <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}/js/md5.js"></script>
  <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}/js/jquery.md5dropuploader.js"></script>
{% endblock %}

{% block style %}
    {{ block.super }}
   <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style/audio-upload.css" />
{% endblock %}

{% block content-body %}
{# TODO: better instructions #}
<p>To upload multiple files at once, select the files that you want to upload
   on your desktop or file browser and drag them into the file area below.
</p>
<p>To upload a single file, or if you are using a browser that does not support
    drag-and-drop, use the file input and submit the form.</p>

<form enctype="multipart/form-data" method="post" action="{% url audio:upload %}">{% csrf_token %}
 <div id="drop_target">
   {{ form.as_p }}  {# single-file upload (non HTML5 fall-back) #}
 </div> 
 <input type="submit" value="Upload and Ingest" id='submit-upload'/>
</form>

<script type="text/javascript" charset="utf-8">
   $("#drop_target").md5DropUploader({
      url : "{% url audio:upload %}",
      allowed_types : {{ js_allowed_types }},
   });
 </script>

{% endblock %}