{% extends "site_base.html" %}

{% block page-subtitle %}: Audio : Upload{% endblock %}
{% block content-title %}Upload audio files.{% endblock %}

{% block scripts %}
  {{ block.super }} {# includes jquery  #}
  <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}/js/md5.js"></script>
  <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}/js/jquery.dnduploader.js"></script>
{% endblock %}

{% block style %}
    {{ block.super }}
   <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style/audio-upload.css" />
{% endblock %}

{% block content-body %}
{# TODO: better instructions #}
<p>Drag the files that you want to upload into the gray box below.</p>

<form enctype="multipart/form-data" method="post" action="{% url audio:upload %}">{% csrf_token %}
 <div id="drop_target"> </div>
 {# TODO: add file input for single file fall-back upload option #}
 <input type="submit" value="Upload and Ingest" id='submit-upload'/>
</form>

<script type="text/javascript" charset="utf-8">
   $("#drop_target").dndUploader({
      url : "{% url audio:upload %}",
      allowed_types : {{ js_allowed_types }}, 
   });
 </script>

{% endblock %}