{% extends "site_base.html" %}

{% block page-subtitle %}: Collections : Browse{% endblock %}
{% block content-title %}Browse Collections{% endblock %}

{% block content-body %}
{% regroup collections by collection_label as collections_by_parent %}
<ul>
    {% for collection in collections_by_parent %}
        <li>{{ collection.grouper }}
            <ul>
            {% for subcoll in collection.list %}
            <li>{{ subcoll.source_id|default:'' }}
                <a href="{% url collection:edit subcoll.pid %}">
                    {{ subcoll.title|default:'(no title present)' }}</a>
                    {{ subcoll.name }}
                </li>
            {% empty %}
                <li>No subcollections</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{# due to the way regroup works, top-level collections with no collections will not be listed #}
{% endblock %}
