{% extends "site_base.html" %}

{% block page-subtitle %}: Collections : Search Results{% endblock %}
{% block content-title %}Search for Collections{% endblock %}

{% block content-body %}
{# {% include 'audio/snippets/collection_search_form.html' %} <hr/> #}

{% include 'snippets/search_info.html' %}

{% if collection_search.errors %}
<p>There were errors in your search.  Please revise your search terms and try again.</p>
  {{ collection_search.errors }}
{% endif %}

<table>
    <tr><th>Col. No.</th><th>Title</th><th>Creator</th><th>Repository</th></tr>
{% for obj in results %}
    <tr>
        <td>{{ obj.source_id|default:'' }}</td>
        <td><a href="{% url collection:edit obj.pid %}">{{ obj.title|default:'(no title present)' }}</a></td>
        <td>{{ obj.creator|join:'; ' }}</td>
        <td>{{ obj.archive_label }}</td>
    </tr>
{% empty %}
    <tr><td colspan="4">no results</td></tr>
{% endfor %}
</table>


{% endblock %}
