{% extends "page_base.html" %}
{% load humanize %}

{% block content-title %}Welcome to the Keep.{% endblock %}

{% block content-body %}
<p>Add content: <a href="{% url 'file:upload' %}">upload a file</a>

{% if perms.file.add_disk_image %}
    | <a href="{% url 'file:largefile-ingest' %}">ingest uploaded content</a></p>
{% endif %}


{% if perms.collection.add_collection %}
<p><a href="{% url 'collection:new' %}">create a new collection</a></p>
{% endif %}
<p><a href="{% url 'tasks:recent' %}">status of recent tasks (audio conversions, batch status update)</a></p>

<h3>View recently added items</h3>

<div class="half-column">
	{% if recent_months %}
	<h4>By month</h4>
	<ul>
		{% for month, count in recent_months %}
		<li><a href="{% url 'repo-admin:search' %}?keyword=created:{{ month|date:'Y-m' }}"
			title="search for items added in {{ month|date:'F Y' }}">{{ month|date:'F Y' }}</a> ({{ count|intcomma }})</li>
		{% endfor %}
	</ul>
	{% endif %}

	<h4>By day</h4>
	<ul>
		{% for day, count in recent_items %}
		<li><a href="{% url 'repo-admin:search' %}?keyword=created:{{ day|date:'Y-m-d' }}"
			title="search for all items added on {{ day }}">{{ day|naturalday }}</a> ({{ count|intcomma }})</li>
		{% empty %}
		<li>No new items have been added in the last 30 days.</li>
		{% endfor %}
	</ul>
</div>

{% if recent_collections or recent_fixity_checks %}
<div class="half-column">
	{% if recent_collections %}
	<h4>By collection</h4>
	<ul>
		{% for collection, count in recent_collections %}
		<li><a href="{% url 'repo-admin:search' %}?collection={{ collection }}"
			title="search for all items in {{ collection }} sorted by date added">{{ collection }}</a> ({{ count|intcomma }})</li>
		{% empty %}
		<li>No new items have been added in the last 30 days.</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if recent_fixity_checks %}
	<h4>Fixity checks in the last 30 days</h4>
	<ul>
		{% for status, count in recent_fixity_checks %}
		<li><a href="{% url 'repo-admin:search' %}?fixity_check={{ status }}&amp;fixity_check_mindate={{ month_ago|date:"Y-m-d" }}">{% if status == 'pass' %}valid{% elif status == 'fail' %}invalid{% endif %}</a>
		    ({{ count|intcomma }})</li>
		{% empty %}
		<li>No new items have been added in the last 30 days.</li>
		{% endfor %}
	</ul>
	{% endif %}

</div>
{% endif %}



{% endblock %}