{% extends "site_base.html" %}

{% block content-title %}Search for Collections{% endblock %}

{% block content-body %}
{# {% include 'audio/_collection_search_form.html' %} <hr/> #}

<table>
    <tr><th>MSS #</th><th>Title</th><th>Creator</th><th>Collection</th></tr>
{% for obj in results %}
    <tr>
        <td>{{ obj.mods.content.source_id|floatformat|default:'' }}</td>
        <td><a href="{% url collection:edit obj.pid %}">{{ obj.mods.content.title }}</a></td>
        <td>{{ obj.mods.content.name }}</td>
        <td>{{ obj.collection_label }}</td>
    </tr>
{% empty %}
    <tr><td colspan="4">no results</td></tr>
{% endfor %}
</table>


{% endblock %}
