{% extends "site_base.html" %}

{% block page-subtitle %}: Audio : Upload{% endblock %}
{% block content-title %}Upload audio files.{% endblock %}

{% block scripts %}
  {{ block.super }} {# includes jquery  #}
  <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}/js/md5.js"></script>
  <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}/js/jquery.md5dropuploader.js"></script>
  <script type="text/javascript" charset="utf-8">
     $(document).ready(function () {
        // client-side form validation before submitting files
        // NOTE: bind before md5 drop uploader so validation happens first
        $('form#upload').submit(function(event){
           var valid = true;
           if (! $(this).find('#id_collection_0').val()) {
              valid = false;
              // add an error message if invalid (but only add once)
              var error_list  = $('ul.errorlist');
              if (! error_list.find('#collection-err').length) {
                var err = $('<li id="collection-err">Collection is required.  ' + 
                  'Type to search and select a collection from the suggested values.</li>');
                error_list.append(err);
               }
           }
           // store valid/invalid on form so md5 uploader can check
           $(this).data('valid', valid); 
           return valid;
        });

        $("#drop_target").md5DropUploader({
            url : "{% url audio:upload %}",
           allowed_types : {{ js_allowed_types }},
        });
        
     });

     {# collection autocomplete #}
     {% include "collection/snippets/collection_suggest_js.html" %}
  </script>
{% endblock %}

{% block style %}
    {{ block.super }}
   <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style/audio-upload.css" />
{% endblock %}

{% block content-body %}
{% if ingest_results %} {# If any files were processed for ingest, display results. #}
<p>Processed {{ ingest_results|length }} file{{ ingest_results|pluralize }} for upload.</p>
<ul>
  {# group results by success (will be True or False) #}
  {% regroup ingest_results|dictsort:'success' by success as results %}
    {% for status in results %}
     <li>{{ status.list|length }} file{{ status.list|pluralize }}
         {% if status.grouper %}successfully ingested{% else %}failed to upload{% endif %}:
         <ul>
             {% for file in status.list %}
                <li><b>{{ file.label }}</b>
                    {% if file.pid %}<a href="{% url audio:edit file.pid %}">{{ file.pid }}</a>{% endif %}
                    {% if file.message %}{{ file.message }} {% endif %}
                </li>
             {% endfor %}
         </ul>
  {% endfor %}
</ul>
<hr style="clear:none;"/>
{% endif %} {# end displaying ingest results #}

{% if form %} 
{# by default, show not-supported instructions; md5uploader will toggle if supported #}
<p class="instructions md5upload-not-supported">
  Your browser does <b>not</b> meet the requirements needed for batch upload with client-side
  MD5 checksum.  Please use the form below to choose a single file for
  upload or switch to a browser that supports batch upload (currently requires
  Chrome or Firefox 4).</p>
<p class="instructions md5upload-supported" style="display:none">
  Drag files from your desktop or file manager into the box below to upload them.
  You should be able to see the status and progress for each file as the MD5
  checksum is calculated and the file is uploaded to the server.  You may add
  multiple sets of files.  If you accidentally drag in a file you do not wish to
  upload, click the red X next to that file to remove it.  Once you have all
  added all the files you wish to upload, click Submit.  If files are still
  being processed, the form will wait to submit until all files are ready.
  </p>


<form id="upload" enctype="multipart/form-data" method="post" action="{% url audio:upload %}">{% csrf_token %}

<ul class='errorlist'></ul>

 {{ form.non_field_errors }}
{% with form.collection as field %}
  {% include "snippets/form_field.html" %}
{% endwith %}

 <div id="drop_target">
   <p class='extra instructions'>Drag files here 
	OR upload a single file with the file input below.</p>
  {% with form.audio as field %} {# single-file upload (non HTML5 fall-back) #}
    {% include "snippets/form_field.html" %}
  {% endwith %}
{#   {{ form.as_p }}  single-file upload (non HTML5 fall-back) #}
 </div> 

{% with form.comment as field %}
  {% include "snippets/form_field.html" %}
{% endwith %}

 <input class="form-submit" type="submit" value="Submit" id='submit-upload'/>
</form>
{% endif %}
{% endblock %}
