{% extends "site_base.html" %}
{% load static %} {% load audio_extras %} {% load search_tags %}

{% block page-subtitle %}: Audio : {{ resource.label }}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'style/jplayer-skin/jplayer.blue.monday.css' %}" />
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.jplayer.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#jquery_jplayer_1').jPlayer({
            ready: function (event) {
                $(this).jPlayer("setMedia", {
                    // title: "{{ resource.label }}",
                    mp3: "{{ resource.get_access_url }}",
                    // m4a: "http://jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
                });
            },
            swfPath: "{% static 'js/' %}",
            supplied: "mp3, m4a",
            // preload: 'auto',
            wmode: "window",
            smoothPlayBar: true,
            keyEnabled: true,
            remainingDuration: true,
            toggleDuration: true,
            warningAlerts: true,
            errorAlerts:true,
        });
    });
  </script>

{% endblock %}

{% block content %}
<article>
    <header>
        <div class="container">
            <h3><a href="{% url 'collection:view' resource.collection.pid %}">{{ resource.collection.mods.content.source_id|default:'' }}:
              {{ resource.collection.label }}</a></h3>

            <h2>{{ resource.label }}</h2>


            {% if perms.audio.change_audio %}
            <div class="pull-right">
                <a class="pull-right btn btn-primary" href="{% url 'audio:edit' resource.pid %}">edit <span class="glyphicon glyphicon-edit"></span></a>
            </div>
            {% endif %}
        </div>
    </header>

    <div class="container">
      {# jplayer audio player controls #}
      {% include 'audio/snippets/audio_player.html' %}

      {# origin info - dates #}
      {% with origin_info=resource.mods.content.origin_info %}
          {% if origin_info.issued %}
              <h4>Issued</h4>
              <p>{% for i in origin_info.issued %}{{ i|natural_date }}{% if not forloop.last %}; {% endif %}{% endfor %}</p>
          {% endif %}
          {% if origin_info.created %}
              <h4>Created</h4>
              <p>{% for c in origin_info.created %}{{ c|natural_date }}{% if not forloop.last %}; {% endif %}{% endfor %}</p>
          {% endif %}
        {% endwith %}

        {# display part note, if any #}
        {% if resource.mods.content.part_note.text %}
            <p>{{ resource.mods.content.part_note.text }}</p>
        {% endif %}

        {# display human-readable duration of audio #}
        {% if resource.digitaltech.content.duration %}
            <p>{{ resource.digitaltech.content.duration|natural_seconds }}</p>
        {% endif %}

        <div class="input-group col-xs-2">
          <span class="input-group-addon">ID</span>
          <input type="text" readonly="readonly" class="item-id form-control" value=" {% firstof resource.mods.content.ark_uri|ark_noid resource.pid %}">
        </div>

        {% if resource.mods.content.ark_uri %}
        <p>Permanent URL:
          <a href="{{ resource.mods.content.ark_uri }}" rel="bookmark">{{ resource.mods.content.ark_uri }}</a></p>
        {% endif %}

        {% if resource.researcher_access|yesno:"yes,no" == "no" %}
        <div class="messages">
          <p class="bg-danger">This item is not accessible to researchers.
            <br/>Access code {{ resource.rights.content.access_status.code }}: {{ resource.rights.content.access_status.text }}
            {% if resource.rights.content.block_external_access %}
            <br/>External access has been blocked.
            {% endif %}
          </p>


        </div>
        {% endif %}

    </div>


</article>

{% endblock %}

