{% extends "site_base.html" %}

{% block page-subtitle %}: Arrangment : Edit {{ obj.label }} ({{ obj.filetech.content.local_id }}){% endblock %}
{% block content-title %}Edit Arrangment File {% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    $(document).ready(function() {
      // move to the first form element for user convenience
      document.edit_form.elements[1].focus();

      // make .toggle headers hide/show the following section
      $(".toggle").click(function () {
        var header = $(this);
        header.toggleClass('collapsed');
        header.next().toggle();
      });

    });
  </script>
{% endblock %}

{% block content-body %}
{{ block.super }}
<h2>{{ obj.label }}</h2>
<p class='extra'>
  | <a href="{% url arrangement:raw-ds obj.pid 'FileTech' %}">FileTech</a>
  | <a href="{% url arrangement:raw-ds obj.pid 'Rights' %}">Rights</a>
</p>


<div class="instructions">
    <h2>Instructions for using this form</h2>
    <ul>
        <li><span class="required" title='required'>*</span> indicates a field is required.</li>
    </ul>
    {# NOTE: some overlap with collection edit form instructions #}
</div>
<div id="audio-edit">
<form method="post" name="edit_form">{% csrf_token %}

<h3 id="FileTech-label" class="section-head toggle">File Tech Metadata</h3>
<div id="FileTech">
    {{ form.filetech.non_field_errors }}
    <table class="edit-form">
        {% for field in form.filetech %}{% include 'snippets/form_field_tr.html' %}{% endfor %}
    </table>
</div>


<h3 id="rights-label" class="section-head toggle">Rights Metadata</h3>
<div id="rights">
    {{ form.rights.non_field_errors }}
    <table class="edit-form">
        {% for field in form.rights %}{% include 'snippets/form_field_tr.html' %}{% endfor %}
    </table>
</div>



<input class="form-submit" type="submit" name="_save" value="Save"/>
<input class="form-submit" type="submit" name="_save_continue" value="Save and continue editing"/>
</form>
</div>
{% endblock %}
