{% extends "site_base.html" %}
{# base template for content pages with left sidebar #}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-xs-6 col-sm-3 sidebar {% if user.is_authenticated %}panel{% endif %}">
        <div class="panel-body small">
      {% block sidebar-left %}
  {% if user.is_authenticated %}{# for now restrict search to logged-in users #}
   <div class="note well">
     <h3>Note</h3>

     <p>The old item and collection search are being replaced by the
     new, combined search to the right.</p>
     <p>The old search will be available for a transition period but
     will eventually be removed.  If you find any functionality in the
     old search that is not available in the new one, please report
     it.</p>
   </div>

   <a id="use-old-search">Access the old search.</a>

   <div id="old-search" class="well" style="display:none">
  {% if item_search %}
    {% include 'audio/snippets/search_form.html' %}
  {% endif %}
  {% if collection_search %}
    {% include 'collection/snippets/search_form.html' %}
  {% endif %}
  <div class="help">
    <a class="search-help" href="#" data-toggle="tooltip" title="{{ collection_search.search_tips }}"><span class="glyphicon glyphicon-question-sign"></span></a>
   </div>
   </div>
   <script type="text/javascript">
     $(document).ready(function () { {# show/hide advanced-search block #}
      $('.search-help').tooltip({html: true});

       $("#use-old-search").click(function(){
           $("#old-search").toggle();
         });
       });
   </script>
 {% endif %}

      {% endblock %}
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">

        {# admin search - restricted to logged-in users #}
        {% if user.is_authenticated and admin_search %}
          <div id="keyword-search" class="search">
            <h2>Search</h2>
            <form method="get" action="{% url 'repo-admin:search' %}" class="form-inline">
              {{ admin_search.keyword|add_class:"form-control" }}
              <input class="btn form-submit" type="submit" value="Go" />

              <a id="search-info" title="Search Tips" data-content="{{ admin_search.keyword.help_text }}"
                data-toggle="popover" data-placement="auto" data-container="body">
                <span class="glyphicon glyphicon-question-sign"></span></a>
            </form>
          </div>
        {% endif %}

      <h1>{% block content-title %}{% endblock %}</h1>
      {% block content-body %}{% endblock %}
    </div>

  </div>  {# row #}
</div> {# container #}
{% endblock %}

{% block footer-content %}
  {{ block.super }}
  <script type ="text/javascript">
    $(document).ready(function () {
      var $keywordSerach = $("#keyword-search input[name=keyword]"),
          $searchInfo = $('#search-info'),
          $withTooltips = $('.with-tooltip');

      if(typeof (categorycomplete) === 'function' && $keywordSerach.length>0){
        $keywordSerach.categorycomplete({
          source: "{% url 'repo-admin:suggest' %}",
          minLength: 0,
        });
      
        {# remove this when old search is removed from sidebar #}
        {% include "collection/snippets/collection_suggest_js.html" %}
      }
      if($searchInfo.length>0){
        $searchInfo.popover({html: true, container: 'body'});
      }
      if($withTooltips.length>0){
        $withTooltips.tooltip({html: true, container: 'body'});
      }
    });
   </script>
{% endblock %}