{% extends "eultheme/site_base.html" %}
{% load static %}
{% block nav-title %}
{# <img id="keep-logo" src="{{ STATIC_URL }}/images/keep.png" /> #}
<span class="glyphicon glyphicon-tower"></span>
<span class="site-title">The Keep</span>
  {% endblock %}
{% block page-title %}The Keep{% block page-subtitle %}{% endblock %}{% endblock %}

{% block navlinks %}
  {% include 'snippets/navlinks.html' %}
{% endblock %}

{% block nav_class %}navbar-inverse navbar-fixed-top{% endblock %}

{% block navbar-extra %}
  {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li class="hidden-xs hidden-sm"><span class="nav-text">Welcome, {% firstof user.first_name user.username %}.</span></li>
      <li>
        <a href="{% url 'accounts:logout' %}">Logout
         <span class="glyphicon glyphicon-log-out"></span></a>
       </li>
    </ul>
  {% else %}
     <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'accounts:login' %}">Login
          <span class="glyphicon glyphicon-log-in"></span></a>
        </li>
    </ul>
  {% endif %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'style/local.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/smoothness/jquery-ui-1.8.19.custom.css' %}" />
  {% block style %}{% endblock %} {# for compatibility with eullocal.taskresult styles #}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'eultheme/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/local.js' %}"></script>
{% endblock %}

{% block message %}
  {% if unsupported_browser %}
    <div class="messages">
    <p class="bg-warning">You are using an unsupported browser.
      Please use Google Chrome in order to ensure you can listen to all audio content.</p>
  </div>
  {% endif %}

  {{ block.super }} {# default django message display from eultheme #}
{% endblock %}


{% block footer-content %}
  {# display eXist query times (when present) in debug mode only #}
  {% if querytime and debug %}
    <div class="query-time dev-note">quer{{ querytime|pluralize:"y,ies" }} took
      {{ querytime|join:", " }} ms</div>
  {% endif %}

{% if not DEBUG and not RESEARCHER_NO_ANALYTICS %} {# google analytics tracking code #}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31534030-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
{% endif %}
</script>

{% endblock %}