{% extends "genlib_templates/bluegray_site_base.xhtml" %}

{% block page-title %}The Keep {% block page-subtitle %}: Home{% endblock %}{% endblock %}

{% block style %}
    {{ block.super }}
    {% comment %}Place Local changes, modifications and overrisdes in your local.css file.{% endcomment %}
   <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/style/local.css" />
{% endblock %}

{% block site-name %}
<img id="keep-logo" src="{{ MEDIA_URL }}/images/keep.png" />
The Keep

{% endblock %}
{% block site-slogan %}{# ??? #}{% endblock %}

{% load eulcore_tags %}

{% block navbar-items %}
    <li><a href="{% url collection:browse %}">Collections</a></li>
    <li><a href="{% url collection:simple_browse %}">Simple Collections</a></li>
{% endblock %}

{% block content-header %}
 {% if user.is_authenticated %}
   <div id="logged-in">
     <p>Welcome, {% firstof user.first_name user.username %}.
        <a href="{% url accounts:logout %}">Logout</a></p>
   </div>
 {% endif %}
 {{ block.super }}
{% endblock %}

{% block sidebar-left %}
 {% if user.is_authenticated %}{# for now restrict search to logged-in users #}
  {% if item_search %}
    {% include 'audio/snippets/search_form.html' %}
  {% endif %}
  {% if collection_search %}
    {% include 'collection/snippets/search_form.html' %}
  {% endif %}
  <div class="help">
    <a onMouseOver="jQuery('#search-help').show()"
       onMouseOut="jQuery('#search-help').hide()">?</a>
    <div id="search-help" class="search-tips">{{ collection_search.search_tips }}</div>
   </div>
 {% endif %}
{% endblock %}

{% block message %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if server_error %}
        <ul class='errorlist'>
          <li class='error'>{{ server_error }}</li>
        </ul>
    {% endif %}
{% endblock %}

{% block content-outer-bottom %}
  {% if SW_VERSION %}
    <div class="sw-version dev-note">v{{ SW_VERSION }}</div>
  {% endif %}
{% endblock %}
