<h1>New name</h1>

<%= start_form_tag :action => 'name_create' %>
  <%= render :partial => 'name_form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'name_list' %>
