<h1>New staff_name</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'staff_form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'staff_list' %>
