{% load search_tags audio_extras %}
{# datastream and audit trail links for video #}
<div class="btn-toolbar" role="toolbar">
<div class="btn-group" role="group">
  {% if perms.video.download_video %}
  {% with 'original video' as original %}
    {% if obj.content.exists %}
      <button type="button" class="btn btn-default">
        <a class="btn btn-default" href="{% url 'video:download-video' obj.pid %}">{{ original }}</a>
        {% if obj.digitaltech.content.duration %}({{ obj.digitaltech.content.duration|seconds_duration }}){% endif %}
      </button>
    {% else %}
      <button type="button" class="btn btn-default">{{ original }}</button>
    {% endif %}
  {% endwith %}
  {% with 'access copy' as access %}
    {% if obj.access_copy.exists %}
      <button type="button" class="btn btn-default">
        <a class="btn btn-default" href="{% url 'video:download-compressed-video' obj.pid %}">{{ access }}</a>
        </button>
    {% else %}
      <button type="button" class="btn btn-default">{{ access }}</button>
    {% endif %}
  {% endwith %}
  {% endif %}
  </div>

<div class="btn-group" role="group">
  {% if obj.audit_trail %}
    <a class="btn btn-default" href="{% url 'video:history' obj.pid %}">Event Log</a>
  {% endif %}
    <a class="btn btn-default" href="{% url 'video:raw-ds' obj.pid 'MODS' %}">MODS</a>
    <a class="btn btn-default" href="{% url 'video:raw-ds' obj.pid 'DC' %}">DC</a>
    <a class="btn btn-default" href="{% url 'video:raw-ds' obj.pid 'RELS-EXT' %}">RELS-EXT</a>
    <a class="btn btn-default" href="{% url 'video:raw-ds' obj.pid 'SourceTech' %}">SourceTech</a>
    <a class="btn btn-default" href="{% url 'video:raw-ds' obj.pid 'DigitalTech' %}">DigitalTech</a>
    <a class="btn btn-default" href="{% url 'video:raw-ds' obj.pid 'Rights' %}">Rights</a>
    <a class="btn btn-default" href="{% url 'video:raw-ds' obj.pid 'provenanceMetadata' %}">PREMIS</a>
  {% if obj.audit_trail %}
    <a class="btn btn-default" href="{% url 'video:audit-trail' obj.pid %}">XML Audit Trail</a>
  {% endif %}
</div>
</div>

{# display checksum and format of video #}
<p class="extra">{{ obj.provenance.content.object.format.name }} video ({{ obj.content.size|filesizeformat }}), checksum {{ obj.content.checksum }}</p>
{# display last modified date and user #}
<p class="extra">Last modified {{ obj.modified }}
  {% for entry in obj.audit_trail.records %}{% if forloop.last %}by {{ entry.user|username_to_name }}{% endif %}{% endfor %}</p>