{% extends 'repoadmin/snippets/list-item.html' %}
{% load humanize %}
{% load audio_extras %}

{% block item_title %}
{# display edit link if user has permission #}
{#{% if perms.audio.change_audio %} #}
 {#<a class="pull-right btn btn-primary" href="{% url 'audio:edit' obj.pid %}">edit <span class="glyphicon glyphicon-edit"></span></a> #}
{#{% endif %}#}

<p><a href="{% url 'video:view' obj.pid %}">{{ obj.title|default:'(no title)' }}</a>
  {% if obj.part %} ({{ obj.part }}){% endif %}
  {% if obj.collection_id %}
    {% if 'info:fedora' in obj.collection_id %}
      {% url 'collection:view' obj.collection_id|slice:'12:' as collection_url %}
    {% else %}
      {% url 'collection:view' obj.collection_id as collection_url %}
    {% endif %}
    (part of <a href="{{ collection_url }}">{% firstof obj.collection_label obj.collection_id %}</a>)
  {% endif %} </p>
{% endblock %}

{% block item_info %}
<ul class="list-inline">
 {% if obj.duration %}<li>{{ obj.duration|seconds_duration }}</li>{% endif %}
    </li>
</ul>
{% endblock %}
