{% extends "site_base.html" %}

{% block page-subtitle %}: Edit Record : {{ obj.label }}{% endblock %}
{% block content-title %}Edit Record{% endblock %}

{% block content-body %}
{{ block.super }}
<h2>{{ obj.label }}</h2>
<p>{{ obj.pid }} - <a href="{% url audio:download-audio obj.pid %}">download audio</a></p>

<form method="post" name="edit_form">{% csrf_token %}
<table id="audio-edit">
  <tr class="section-head"><th colspan="2">Descriptive Metadata</th></tr>
  {% if form.mods.non_field_errors %}
    <tr><td colspan="2">{{ form.non_field_errors }}</td></tr>
  {% endif %}
  {% for field in form %}{% include 'audio/_edit_form_field.html' %}{% endfor %}
  {% if form.mods.non_field_errors %}
    <tr><td colspan="2">{{ form.mods.non_field_errors }}</td></tr>
  {% endif %}
  {% for field in form.mods %}{% include 'audio/_edit_form_field.html' %}{% endfor %}
  {% comment %} TODO/FIXME: something like this should work, but need a way to get subform labels
   {% for name, subform in form.mods.subforms.items %}
    <tr>
       <th>{{ subform.label }}{{ name }}</th>
       <td>{{ subform.as_p }}</td>
    </tr>
  {% endfor %}
  {% endcomment %}
  <tr>
      <th>Origin Info:</th>
      <td>{{ form.mods.subforms.origin_info.as_p }}</td>
    </tr>
    <tr>
      <th>General Note:</th>
      <td>{{ form.mods.subforms.general_note.as_p }}</td>
    </tr>
    <tr>
      <th>Part Note:</th>
      <td>{{ form.mods.subforms.part_note.as_p }}</td>
    </tr>

    <tr class="section-head"><th colspan="2">Source Technical Metadata</th></tr>
    {% if form.source_tech.non_field_errors %}
      <tr><td colspan="2">{{ form.source_tech.non_field_errors }}</td></tr>
    {% endif %}
    {% for field in form.source_tech %}{% include 'audio/_edit_form_field.html' %}{% endfor %}
</table>
<input class="form-submit" type="submit" value="Save"/>
</form>

<script type="text/javascript">
  window.onload = document.edit_form.title.focus();
</script>
{% endblock %}
