{% extends "site_base.html" %}

{% block page-subtitle %}: Edit Record : {{ obj.label }}{% endblock %}
{% block content-title %}Edit Record{% endblock %}

{% block content-body %}
{{ block.super }}
<h2>{{ obj.label }}</h2>
<p>{{ obj.pid }} - <a href="{% url audio:download-audio obj.pid %}">download audio</a></p>

<div id="audio-edit">
<form method="post" name="edit_form">{% csrf_token %}

<a class="toggle" onClick="jQuery('#mods').toggle()">+</a> {# TODO: image/icon for toggle? #}
<h3 class="section-head">Descriptive Metadata</h3>
<div id="mods">    
    {% if form.mods.non_field_errors %}
    {{ form.mods.non_field_errors }}
    {% endif %}
<table class="audio-edit">
  {% if form.mods.non_field_errors %}
    <tr><td colspan="2">{{ form.non_field_errors }}</td></tr>
  {% endif %}
  {% for field in form %}{% include 'audio/_edit_form_field.html' %}{% endfor %}
  {% if form.mods.non_field_errors %}
    <tr><td colspan="2">{{ form.mods.non_field_errors }}</td></tr>
  {% endif %}
  {% for field in form.mods %}{% include 'audio/_edit_form_field.html' %}{% endfor %}
  {% comment %} TODO/FIXME: something like this should work, but need a way to get subform labels
   {% for name, subform in form.mods.subforms.items %}
    <tr>
       <th>{{ subform.label }}{{ name }}</th>
       <td>{{ subform.as_p }}</td>
    </tr>
  {% endfor %}
  {% endcomment %}
  <tr id="origin_info">
      <th>Origin Info:</th>
      <td>{{ form.mods.subforms.origin_info.as_p }}</td>
    </tr>
    <tr>
      <th>General Note:</th>
      <td>{{ form.mods.subforms.general_note.as_p }}</td>
    </tr>
    <tr>
      <th>Part Note:</th>
      <td>{{ form.mods.subforms.part_note.as_p }}</td>
    </tr>
</table>
</div>

<a class="toggle" onClick="jQuery('#source-tech').toggle()">+</a>
<h3 class="section-head">Source Technical Metadata</h3>
<div id="source-tech">
    {{ form.sourcetech.non_field_errors }}
    <table class="audio-edit">
        {% for field in form.sourcetech %}{% include 'audio/_edit_form_field.html' %}{% endfor %}
    </table>
</div>


<a class="toggle" onClick="jQuery('#digital-tech').toggle()">+</a>
<h3 class="section-head">Digital Technical Metadata</h3>
<div id="digital-tech">
    {{ form.digitaltech.non_field_errors }}
    <table class="audio-edit">
        {% for field in form.digitaltech %}{% include 'audio/_edit_form_field.html' %}{% endfor %}
    </table>
</div>

<input class="form-submit" type="submit" name="_save" value="Save"/>
<input class="form-submit" type="submit" name="_save_continue" value="Save and continue editing"/>
</form>
</div>

<script type="text/javascript">
  window.onload = document.edit_form.elements[1].focus();
</script>
{% endblock %}
