{% extends "site_base.html" %}

{% block content-title %}Search results{% endblock %}

{% block content-body %}

<table>
    <tr><th>pid</th><th>label</th><th>created</th><th>last modified</th></tr>
{% for obj in results %}
    <tr>
        <td><a href="{% url audio:edit obj.pid %}">{{ obj.pid }}</a></td>
        <td>{{ obj.label }} <br/> <a href="{% url audio:download-audio obj.pid %}">download audio</a></td>
        <td>{{ obj.created }}</td>
        <td>{{ obj.modified }}</td>
    </tr>
{% empty %}
    <tr><td colspan="4">no results</td></tr>
{% endfor %}
</table>

<hr/>
{% include 'audio/_search_form.html' %}

{% endblock %}