{% extends "page_base.html" %}
{% load widget_tweaks %}

{% block page-subtitle %}: File : Edit {{ obj.label }}{% endblock %}
{% block content-title %}Edit Disk Image File{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}/js/edit.js"></script>
  <script type="text/javascript" charset="utf-8">
     $(document).ready(function () {
       {# collection autocomplete #}
       {% include "collection/snippets/collection_suggest_js.html" %}
    });
  </script>
{% endblock %}

{% block content-body %}
{{ block.super }}
{% include 'file/snippets/ds_links.html' %}

<div class="instructions">
    <h2>Instructions for using this form</h2>
    <ul>
        <li><span class="required" title='required'>*</span> indicates a field is required.</li>
    </ul>
    {# NOTE: some overlap with collection edit form instructions #}
</div>
<div class="multi-edit">
<form method="post" name="edit_form">{% csrf_token %}

<h3 id="mods-label" class="section-head toggle open">Descriptive Metadata</h3>
<div id="mods">
<table class="edit-form">
  {% if form.non_field_errors %}
    <tr><td colspan="3">{{ form.non_field_errors }}</td></tr>
  {% endif %}
  {# top-level form fields #}
  {% for field in form.visible_fields %}
    {% if field.name != 'comment' %} {# omit comment field here and display at end #}
      {% include 'snippets/form_field_tr.html' %}
    {% endif %}
  {% endfor %}

  {% if form.mods.non_field_errors %}
    <tr><td colspan="3">{{ form.mods.non_field_errors }}</td></tr>
  {% endif %}
  {% for field in form.mods %}
    {# date range is special case, don't handle it here #}
    {% if field.name != 'coveringdate_start' and field.name != 'coveringdate_end' %}
    {% include 'snippets/form_field_tr.html' %}
    {% endif %}
  {% endfor %}

  {# date range #}
  {% with start=form.mods.coveringdate_start end=form.mods.coveringdate_end %}
  {# formatting here based on form_field_tr snippet #}
  <tr class="{% if start.field.required %}{{ form.required_css_class|default:'required'}}{% endif %}
    {% if start.errors %}{{ form.error_css.class|default:'error' }}{% endif %}">
  <th>{{ start.label }}
      {% if start.field.required %}<span title='required' class='required'>*</span>{% endif %}
  </th>
  <td>
    {{ start }} {{ start.errors }}
    -
    {{ end }} {{ end.errors }}
    <br/>
    <div class="help-text">{{ start.help_text }}</div>
    <div class="help-text">{{ end.help_text }}</div>
  </td>
  </tr>
  {% endwith %}

  {# display all subforms (abstract) #}
   {% for name, subform in form.mods.subforms.items %}
    <tr>
       <th>{% firstof subform.form_label name %}</th>
       <td>
         {% for field in subform %}
         {% include 'snippets/form_field.html' %}
         {% endfor %}
         {% for form in subform.forms %}
           {% for field in form %}
           {% include 'snippets/form_field.html' %}
           {% endfor %}
         {% endfor %}
       </td>
    </tr>
  {% endfor %}

</table>
</div>

<h3 id="premis-label" class="section-head toggle">Technical Metadata</h3>
<div id="premis">

  <table class="edit-form">
  {% if form.premis.non_field_errors %}
    <tr><td colspan="3">{{ form.premis.non_field_errors }}</td></tr>
  {% endif %}
  {% for field in form.premis.visible_fields %}{% include 'snippets/form_field_tr.html' %}{% endfor %}


  {% if perms.file.add_application or perms.file.change_application %}
  {% load admin_urls %}
  {# links for managing database list of creating applications #}
  <tr><td></td>
    <td>
      {% if perms.file.change_application %}
      <a href="{% url admin_fileapp|admin_urlname:'changelist' %}">Manage list of applications</a>
      {% endif %}
        {% if perms.file.add_application and perms.file.change_application %} | {% endif %}
      {% if perms.file.add_application %}
      <a href="{% url admin_fileapp|admin_urlname:'add' %}">Add a new application</a>
      {% endif %}
    </td>
  </tr>
  {% endif %}

  {# original environment - subform of premis object #}

 {% with orig_env=form.premis.subforms.object.subforms.original_environment %}
      <tr>
         <th>{% firstof orig_env.form_label name %}</th>
       </tr>

       {% for name, subform in orig_env.subforms.items %}
       <tr>
         <th>{% firstof subform.form_label name %}</th>
         <td>
            {# NOTE: using custom here display instead of template #}

            {% for field in subform %}
            <div class="form-group {{ divclass|default:''}}">
              <label for="{{ field.name }}">{{ field.label }}
                {% if field.field.required %}<span class="required" title='required'>*</span>{% endif %}</label>
              {% render_field field class+="long form-control" %}
              <div class="help-text">{{ field.help_text }}</div>
              {{ field.errors }}
            </div>
            {% endfor %}
     {% endfor %}
{% endwith %} {# end original environment #}

  </table>
</div>


<h3 id="rights-label" class="section-head toggle">Rights Metadata</h3>
<div id="rights">
    {{ form.rights.non_field_errors }}
    <table class="edit-form">
        {% for field in form.rights %}{% include 'snippets/form_field_tr.html' %}{% endfor %}
    </table>
</div>

<div id="comments">
    <table class="edit-form">
        {% with field=form.comment %}{% include 'snippets/form_field_tr.html' %}{% endwith %}
    </table>
</div>

<input class="btn btn-primary form-submit" type="submit" name="_save" value="Save"/>
<input class="btn form-submit" type="submit" name="_save_continue" value="Save and continue editing"/>
</form>
</div>
{% endblock %}