table#mods_edit table.subform {
  margin-left: 10px;  
 /* border-left: 1px solid #cccccc;*/
}
table#mods_edit table.subform th {
    padding-left: 5px;
}
table.audio-edit th {
   width:125px;
   vertical-align: top;
}
#audio-edit .section-head {
    background-color:#efefef;
    border-bottom:3px double black;
    padding-left: 8px;
    padding-bottom: 5px;
}
#audio-edit td, #audio-edit table {
    border: none;   /* suppress inherited borders */
}
#audio-edit .toggle {
    background-image: url('../genlib_media/style/images/menu-expanded.png');
    background-position: 99% 50%;    /* nearly right edge */
    background-repeat: no-repeat;
    padding: 5px;
}
#audio-edit .collapsed {
    background-image: url('../genlib_media/style/images/menu-collapsed.png');
}

table.audio-edit div.help-text {
    display:inline; /* keep on same line as input if the whole text fits */
    white-space:nowrap;
    color: gray;
}
table.audio-edit select {
    min-width: 15em; /* close to default text input length in Firefox */
    /* NOTE: setting text input default length messes up YYYY-MM-DD text inputs */
}

textarea, input.long, select.long {
    width:85%;
}
input.readonly {
    border:0px;
}

#origin_info div.subform p.label {
    width: 5em;
    font-weight:bold;
    float:left;
    clear:left;
}

div#sidebar-left-inner > div {
    border: 1px solid #D9D9D9;
    background-color: #f2f3f5;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 90%;
}
div#sidebar-left div.search input {
    margin: 0px;
}
div#sidebar-left div.search p {
    margin: 0px;
}
div#sidebar-left div.search label {
    display: block;
}
div#sidebar-left div.search select {
    width: 95%;
}


/* form buttons styled to look sort of like form-submit */
input.form-button {
    background-color:#02266D;
    border:1px solid #002878;
    color:#E6EDF2;
    cursor:pointer;
    font:0.833333em/1em "Trebuchet MS",Arial,Helvetica,sans-serif;
    height:20px;
    padding:3px 10px;
    text-transform:uppercase;
}
input.form-button:hover {
    background-color:#B98B02;
    border-color:#997300;
    color:#FFFFFF
}

.sw-version {
    text-align: right
}
.dev-note {
    color: #999
}

div.help {
    float:left;
    background-color:white !important;
    border:2px solid green !important;
    margin:0px;
    padding:3px;
    font-size:medium;
}

div.help > a {
    display:block;
    margin:0px;
    font-size:large;
    font-weight:bold;
}
.search-tips {
    position:absolute;
    margin-left:5px;
    width:250px;
    padding: 5px;
    border:1px solid #cc9933;
    background-color:#ffffcc;
    display:none;
}

div#logged-in {
    float:right;
}
div#logged-in a {
    font-weight: bold;
}