table#mods_edit table.subform {
  margin-left: 10px;  
 /* border-left: 1px solid #cccccc;*/
}
table#mods_edit table.subform th {
    padding-left: 5px;
}

textarea, input.long {
    width:85%;
}

div#sidebar-left-inner > div {
    border: 1px solid #D9D9D9;
    background-color: #f2f3f5;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 90%;
}
div#collection-search input {
    margin: 0px;
}
div#collection-search p {
    margin: 0px;
}

/* form buttons styled to look sort of like form-submit */
input.form-button {
    background-color:#02266D;
    border:1px solid #002878;
    color:#E6EDF2;
    cursor:pointer;
    font:0.833333em/1em "Trebuchet MS",Arial,Helvetica,sans-serif;
    height:20px;
    padding:3px 10px;
    text-transform:uppercase;
}
input.form-button:hover {
    background-color:#B98B02;
    border-color:#997300;
    color:#FFFFFF
}

.sw-version {
    text-align: right
}
.dev-note {
    color: #999
}

div.help {
    float:right;
    background-color:white;
    border:2px solid green;
    margin:0px;
    padding:3px;
    font-size:medium;
}

div.help > a {
    display:block;
    margin:0px;
    font-size:large;
    font-weight:bold;
}
.search-tips {
    position:absolute;
    margin-left:5px;
    width:250px;
    padding: 5px;
    border:1px solid #cc9933;
    background-color:#ffffcc;
    display:none;
}

