<html>
<head>
  <title>DigitalMastersAdmin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<center><font color="red"><H1>THIS IS NOT A PRODUCTION MACHINE.</H1></font></center>
<p style="color: green"><%= flash[:notice] %></p>

<%= link_to_function "Close Window", "self.close();" %>
<br />
<%= link_to "Admin Menu", :action => "index" %>

<%= yield  %>

</body>
</html>
