<html>
<head>
  <title>DigitalMasters: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'popup_edit' %>
  <%= stylesheet_link_tag 'main' %>
  
  <%#= javascript_include_tag :defaults %>
  <%#= javascript_include_tag 'prototype' %>
  <%= define_javascript_functions %> <!-- not recommended but autocomplete doesnt work without this -->
  
</head>
<body>
<center>
    <font color="red"><H1>THIS IS NOT A PRODUCTION MACHINE.</H1></font>
    <br>If you have been using this page for non-testing purposes please contact LAIWD immediately.
</center>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
